.image{
    width: 100%;
    height:750px;
    background-image: url('./../image/images/slider_image_home@1x.png');
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 }
 .navbarstyle{

   color: white;
 }
.nav-link {
  color: white;
  text-decoration: none;
}
.nav-item a:hover{
  color: white;
}
.myph1{
    margin-left: auto;
    margin-right: auto;
}


  .para{
    text-align: center;
    color: white;
}
.BACK{
  background-color:lightgrey;
}
  .img1{
    margin-left: 400px;
    margin-top: 10px;
    width: 300px;
  }
  
  .imgscroll{
    margin-left: 500px;
    margin-top: 300px;

  }
  .margin-container1{
    margin-top:20%
  }
  .EXPLORE{
    margin-top: 50px;
    color: red;
    text-align: center;
  }
  .buttonexplore{
    margin-top: 80px;
    text-align: center;
  }
  .card-title{
    text-align: center;
  }
  .imgt{
    margin-left: 150px;
  }
  .card-text{
    text-align: center;
    color: rgb(166, 177, 177);
  }
  .h3-responsive{
    margin-bottom: 50px;
    margin-left: 180px;
  }
  
  .imgTESTED{
    margin-bottom: 30px;
    margin-left: 100px;
  }
  .hCAPITAL-responsive{
    margin-bottom: 100px;
    margin-left: 20px;
  font-family: 'Lucida Sans' , 'Lucida Sans Unicode',  Verdana, sans-serif, Geneva, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  }
 .BACK5{
   background-color: rgb(243, 245, 238);
 }
 .para5{
   margin-top: 30%;
   color: rgb(166, 177, 177);
 }
 .image6{
  width: 100%;
  height:550px;
  background-image: url('./../image/images/news_letter_background_image_home@1x.png');
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 }
 .H6{
color: white;
text-align: center;
margin-bottom: 50px;
}
.inp6{
  margin-left: 30%;
  width: 50%;
  margin-top: 10%;
}
 
 .P6{
   color: white;
   text-align: center;
 }
 .carousel6{
   margin-top: 12%;
   margin-left: 40%;
 }
 .ph6{
  margin-left: 55%;}
  




  
  .carousell {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-innerr {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-itemm {
    position: static;
    opacity: 100;
}

.carousel-itemm {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-itemm img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}